[submodule "external/shared/emp-tool"]
	path = external/shared/emp-tool
	url = https://github.com/emp-toolkit/emp-tool.git
[submodule "external/static/jsoncpp"]
	path = external/static/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
